<form  method="POST" action="/api/imagees" id="add_imagees">
    <div class ="new_user">

        <div class="form-group">
            <label for="Email" class="text-light"></label>
            <input type="text" name="noiDung" value="" placeholder="Content">
        </div>

        <br>

        <div class="form-group">
            <label for="name" class="text-light"></label>
            <input type="hidden" name="id" value="">
            <input type="text" name="ngayThang" value="" placeholder="Date">
        </div>

        <br>

        <div class="form-group">
            <label for="Email" class="text-light"></label>
            <input type="text" name="linkAnh" value="" placeholder="Photo link">
        </div>

        <br>

        <div class ="form-group">
            <button type="submit" class ="btn text-dark update">SAVE</button>
        </div>



    </div>
</form>
